---
 const personalImageAlt = "Alexander Calle"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo John Alexander Calle pero mis amigos me llaman Alex. Empecé en la
      programación hace 5 años. Desde entonces he ido aprendiendo mas y mas, enfrentando obstaculos y superandome a si mismo.
    </p>

    <p>
      Algunos de mis puntos fuertes incluyen <strong>la recilencia para superar momentos dificiles y seguir creciendo tanto personal como profesionalmente.</strong>
      Uno de mis logros que destaco fue fomentar el <strong>aprendizaje y las buenas prácticas</strong> de desarrollo entre mis compañeros en mi último empleo.
    </p>

    <p>
      Me apasiona enfrentar desafíos complejos y brindar soluciones <strong>creativas e innovadoras</strong>. Siempre busco mejorar mis habilidades, mantenerte actualizado con las últimas tendencias y mejores prácticas.
      Destaco por mi enfoque en el <strong>trabajo en equipo</strong>, la calidad y el compromiso con los objetivos del proyecto.
      <strong>Me desafío constantemente</strong>, pero también valoro el trabajo en equipo. Creo firmemente en la colaboración y en aprovechar las fortalezas colectivas para resolver problemas de manera eficiente.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>