---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Julio 2022 - Junio 2024",
    title: "Indexador PPC",
    company: "Talent.com",
    description:
      "Optimicé la gestión de datos para ofertas de trabajo patrocinadas, logrando una mejora significativa en el rendimiento de los scripts de extracción. Implementé JavaScript avanzado y técnicas eficientes de PHP, reduciendo los tiempos de ejecución del código. Esto no solo promovió las mejores prácticas de desarrollo, resultando en un código más limpio y mantenible, sino que también disminuyó considerablemente los costos de computación en la nube.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
