---
import type { ui } from '@/i18n/ui'
import { useTranslations } from '@/i18n/utils'
import ExperienceItem from './ExperienceItem.astro'

const currentLocale = Astro.currentLocale as keyof typeof ui
const t = useTranslations(currentLocale)

const EXPERIENCIE = [
  {
    date: t('section.experience1.date'),
    title: t('section.experience1.title'),
    company: t('section.experience1.company'),
    description: t('section.experience1.description'),
  },
]
---

<ol class='relative'>
  {
    EXPERIENCIE.map(experiencie => (
      <li class='animate-in-view'>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
