---
import { twMerge } from 'tailwind-merge'
const { class: className } = Astro.props
---

<div
  class:list={twMerge([
    `size-[min(calc(100vw_-_1rem),35rem)] blur-[120px] bg-blue-300 dark:bg-[#031954] rounded-full absolute opacity-90 -z-[1]`,
    className,
  ])}
>
</div>
