---
const { href } = Astro.props
---

<a
  href={href}
  target='_blank'
  class='shadow inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800/80 border border-gray-600 focus-visible:ring-yellow-500/80 hover:text-yellow-500 text-md hover:border-gray-900 group max-w-fit rounded-xl focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black'
>
  <slot />
</a>
