<div class='size-full absolute -z-[2]'>
  <div
    class='relative size-full rounded-lg overflow-hidden bg-cover bg-top bg-no-repeat'
  >
    <slot />
  </div>
</div>
<div
  class='size-full inset-0 m-auto rounded-lg absolute -z-[1] gradient-mask-r-10 backdrop-blur-sm'
>
</div>
