---
const { class: className, id, observable = true } = Astro.props
---

<section
  id={id}
  data-section={id}
  data-observable={observable}
  class:list={[
    'section scroll-m-20 w-full mx-auto container max-w-[min(100%,60rem)]',
    className,
  ]}
>
  <slot />
</section>
